.app{
  height:100vh;
}
a{
  text-decoration: none;
}
.container {
  width:100%;
  min-width: 320px;
  margin:0 auto;
  text-align: center;
}

@media screen and (min-width: 480px) {
  .container {
    width: 700px;
  }
}
@media screen and (min-width: 700px) {
  .container {
    width: 900px;
  }
}